body, html {
    height:100%;
    margin:0;
    padding:0;
}

#tframe {
    height:100%;
    width:100%;
    min-height:700px;
}

#tframe-top {
    height:70%;
    margin-bottom:8px;
}

#tframe-separator {
    bottom:30%;
}

#tframe-bottom {
    height:30%;
    min-height:200px;
}

.tframe-bottom-top {
    bottom:50%;
    min-height:100px;
    margin-bottom:8px;
}

.tframe-bottom-separator {
    bottom:50%;
}

.tframe-bottom-bottom {
    height:50%;
    min-height:100px;
}

.split-pane-divider  {
    height:8px;
    background:url("../images/handle.png") no-repeat scroll 50% 3px #F6F6F6;
}

#tcanvas {
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

.teditor {
    width:100%;
    background-color:#C5D6DB;
}

.teditor-inner {
    display:table;
    height:100%;
    width:100%;
}

.teditor-text {
    display:table-cell;
    width:80%;
    height:100%;
    padding:5px;
}

.teditor-text-inner {
    width:100%;
    height:100%;
}

#teditor-text-0 {
    background-color:#C5D6DB;
}
.teditor-buttons {
    display:table-cell;
    width:20%;
    height:100%;
    min-height:50px;
    vertical-align:middle;
    text-align:center;
}

.teditor-button {
    min-width:100px;
}

.teditor-button-image {
    margin-right:5px;
    vertical-align:text-bottom;
}

.teditor-button-separator {
    width:100%;
    height:10px;
}

#tlog-outer {
    width:100%;
    min-height:50px;
    height:100%;
    background-color:#C8C8C8;
    overflow:scroll;
}

#tlog-inner {
    padding:5px;
}
            
.tlog-row {
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    font-size:20px;
}
            
.tlog-success {
    color:#009900;
}
            
.tlog-failure {
    color:#FF0000;
}
